<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Own Blog</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container cardMain">
            <% playerDetails.forEach(player=> { %>
                
                <div class="card-client">
                    <span class="potential">
                        <%= player.potential %>
                    </span>
                    <div class="user-picture">
                            <img class="<%= player.playerAlt %>" src="<%= player.playerImagePath %>" alt="<%= player.playerAlt %>">
                    </div>
                    <p class="name-client">
                        <%= player.name %>
                            <span>
                                <%= player.position %>
                            </span>
                    </p>
                    <div class="social-media text-center">
                        <a href="#">
                            <img class="nationImage" src="<%= player.nationalityImagePath %>" alt="<%= player.nationAlt %>">
                            <span class="tooltip-social"><%= player.nationAlt %></span>
                        </a>
                        <a href="#">
                            <img class="teamImage" src="<%= player.teamImagePath %>" alt="<%= player.teamAlt %>">
                            <span class="tooltip-social"><%= player.teamAlt %></span>
                        </a>
                    </div>
                </div>  
                <% }); %>
    </div>
</body>

</html>