<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Tags</title>
</head>
<body>
    <h1>
        <%= title %>
    </h1>

    <h3> Current Time: 
        <%= seconds %>
    </h3>

    <% if (seconds % 2 === 0) { %>
        <ul>
            <% items.forEach((fruits)=> {%>
                <li>
                    <%= fruits %>
                </li>
            <% }) %>
        </ul>
    <% } else {%>
        <h3>There is not data to display</h3>
        <% } %>

        <p>

            <%- htmlContent %>
        </p>

    <%- include("footer.ejs") %>
</body>
</html>