<%- include("partials/registerHeader.ejs") %>

<main class="form-signin w-100 m-auto d-flex justify-content-center register">
  <form class="form"  method="post" action="/register">
    <h1 class="h3 text-center mb-5 fw-normal">BASIC AUTH</h1>
    <span>*if you are new user please register👇</span>
      <div class="form w-100">
        <input type="text" autocomplete="off" class="input form-control my-2 <%= locals.userName %>" id="floatingInput" placeholder="Username" name="username">
        <% if(locals.emperror && emperror.username){ %>
            <span class="text-danger"><%= emperror.username.msg %></span>
        <% } %>
      </div>
      <div class="form w-100">
        <input type="password" autocomplete="off" class="input form-control my-1 <%= locals.passWord %>" id="floatingPassword" placeholder="Password" name="password">
        <% if(locals.error && error.password){ %>
          <span class="text-danger"><%= emperror.password.msg %></span>
       <% } %>
       <% if(locals.valierror){ %>
          <span class="text-danger">*Username is already taken.</span>
       <% } %>
     </div>
      <button class="w-100 py-2 my-2 regButton" type="submit">REGISTER</button>
    </form>
  </main>

<%- include("partials/footer.ejs") %>
    
